@font-face {
  font-family: 'Gagalin-Regular';
  src: url('Gagalin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lifehack-Medium';
  src: url('Lifehack-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('Ubuntu-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Light';
  src: url('Ubuntu-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),  url('Ubuntu-Bold.woff') format('woff'), url('Ubuntu-Bold.ttf')  format('truetype'), url('Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('GothamPro-Bold.woff') format('woff'),
   url('GothamPro-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


  @font-face {
    font-family:'GothamPro-Light';
    src: url('GothamPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'GothamPro';
    src: url('GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

  

  @font-face {
    font-family: 'roboto-bold';
    src: url('roboto-bold-webfont.woff2') format('woff2'),
         url('roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
    @font-face {
      font-family: 'roboto-light';
      src: url('roboto-light-webfont.woff2') format('woff2'),
           url('roboto-light-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  