doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Воркадиум
    link(rel="stylesheet", type="text/css", href="./assets/styles/main.css")
  body
    .wrapper
      .main__image
        .main__content
          .logo
            img(src="./assets/images/main-img/logo.png", alt="").logo-pic
          .main__button
            button.btn
              a(href="./dist/main.html") Перейти на сайт

